body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: whitesmoke;
    min-height: 100vh;
}

.card {
    display: inline-block;
    position: relative;
    /*min-width: 350px;*/
    width: 350px;
    height: 350px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-left: 50px;
    justify-content: center;
    border: none;
}

.cards {
    text-align: center;
    margin-right: 40px;
}

.profile-img {
    height: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.flag {
    width: 40px;
    height: 50px;
    margin-top: -1px;
    z-index: 1;
    position: absolute;
    display: flex;
    margin-left: 9%;
}

.test {
    z-index: 1;
}

.description-bk {
    background-image: linear-gradient(0deg, #1cb0e3, #72c23d);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
}

.second .description-bk {
    background-image: linear-gradient(-20deg, #1cb0e3, #72c23d)
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.logo img {
    height: 100%;
}

.hero-description {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 150px;
    bottom: 26%;
}

.btn {
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 10%;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.btn a {
    color: #fff;
    text-align: center;
}

.date {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 10%;
}

/* END CARD DESIGN */

.btn i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

.title {
    font-family: system-ui;
    margin-left: 20px;
    font-size: 45px;
    color: #323647;
}

.modal-body img {
    width: 285px;
    height: 250px;
}

#garageModal .modal-dialog {
    max-width: 50%;
}

#garageModal .modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

#kitModal .modal-dialog {
    max-width: 50%;
}

#kitModal .modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

#kitModal img {
    width: 300px;
    height: 250px;
}

/*Messen en schroeven*/
#mesModal .modal-dialog {
    max-width: 50%;
}

#mesModal .modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

#mesModal img {
    width: 300px;
    height: 250px;
}

/*Line trough text*/
.title {
    width: 90%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 5%;
 } 

 .title span { 
    background: whitesmoke; 
    padding:0 10px; 
}

.next {
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 1300px) {
    
    #garageModal .modal-dialog {
        max-width: 95%;
    }

    #kitModal .modal-dialog {
        max-width: 95%;
    }

    #mesModal .modal-dialog {
        max-width: 95%;
    }

    .modal-body img {
        width: 150px;
        height: 150px;
    }

    .imgKit {
        width: 170px;
        height: 150px;
    }
}

@media only screen and (min-width: 374px) {
    .card {
        width: 290px;
        height: 290px;
    }

    .btn a {
        margin-right: -12px;
    }

}

@media only screen and (min-width: 1205px) {

    /*1374px*/
    .card {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 1206px) {
    .btn {
        width: 60px;
        margin-top: 70px;
    }

    .btn a {
        margin-left: -65%;
        font-size: 15px;
        text-align: center;
    }
}