.navbar {
    background-color: #04AA6D;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.navbar-brand {
    margin-right: 20px;
    color: #323647;
}

.dropdown-item:hover {
    background-color: #808080;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: #04AA6D;
    justify-content: end;
 }

.item {
    text-align: center;
            display: table-cell;
            vertical-align: middle;
}

.navbar-toggler-icon {
    background-color: #04AA6D; /* Set the background color to match your navbar */
    border: 1px solid white; /* Add a border to the icon */
    padding: 3px; /* Adjust padding for better visibility */
}


/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: whitesmoke; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }